:root {
  --primary: #af4242;
  --ingredient-color: #3A82EE;
  --direction-color: var(--primary);
  --light: #EEE;
  --grey: #888;
  --dark: #313154;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat', sans-serif;
}

body {
  background: var(--light);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main.app {
  padding: 20px;
}

section {
  margin-top: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5em;
}

h3 {
  color: var(--dark);
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

h4 {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.create-recipe input[type="text"],
.create-recipe input[type="number"] {
  display: block;
  width: 100%;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  color: var(--dark);
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1.5rem;
  border: 1px solid var(--grey);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-recipe button {
  display: block;
  width: 60%;
  font-size: 1.125rem;
  padding: .5rem 1.5rem;
  color: #FFF;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.create-recipe button:hover {
  opacity: 0.75;
}

.recipe-list .list {
  margin: 1rem 0;
}

.recipe-list .recipe-item {
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.recipe-item .recipe-content {
  flex: 1;
}

.recipe-item .recipe-content input {
  background-color: var(--light);
  color: var(--dark);
  font-size: 1.125rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--grey);
  border-radius: 8px;
  width: 50%;
  max-width: 50px;
}

.recipe-item .actions {
  margin-left: 10px;
}

.recipe-item .actions button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #FFF;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  background-color: var(--primary);
}

.recipe-item .actions button:hover {
  opacity: 0.75;
}

.ingredient-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.ingredient-content {
  flex-grow: 1;
}

.direction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #FFF;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  margin-bottom: 1rem;
}

.direction-content {
  flex: 1;
}

.remove-button {
  padding: 5px 10px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: #ca322f;
}